<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <div style="float:left; padding: 10px;">
      <%= image_tag attachments['tw-small.png'].url %>
    </div>
    <h1>Welcome to Climbing Judge, <%= @user.email %></h1>
    <p>
      You have successfully signed up to Climbing Judge,
      your email is: <%= @user.email %>.<br>
    </p>
    <p>
      At this moment you can only browse some sample data created by me.
      I've added some competitors and created some fake events. 
    </p>
    <p>
      If you want to check out this application, please write me an email,
      and i will give you admin permissions. I want to make this application 
      better, so after playing, please leave a comment in comments section. 
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>