.panel.panel-default
  .panel-heading
    %h4= local_assigns[:name]
  .panel-body
    %table.table.table-condensed.table-hover
      %thead
        %tr
          %th Place:
          %th Name:
          %th Score:
          %th Points:
      = render partial: 'scores/result', collection: results, as: :result
