<div class="panel panel-primary">
  <div class="panel-heading text-center"><strong><%= local_assigns[:name] %></strong></div>
  <div class="panel-body">
    <table class="table table-condensed table-hover">
      <thead>
        <tr>
          <th>Firstname</th>
          <th>Lastname</th>
          <th>Club</th>
        </tr>
      </thead>
      <%= render partial: 'delete_competitor', collection: competitors, as: :competitor %>
    </table>
  </div>
</div>

