<table class="table table-condensed table-hover">
  <thead>
    <tr>
      <th>Firstname</th>
      <th>Lastname</th>
      <th>Club</th>
    </tr>
  </thead>
  <%= render partial: 'competitor', collection: competitors, as: :competitor %>
</table>