.panel.panel-primary
  .panel-heading.text-center
    %strong Events
  .panel-body
    %table#events.table.table-condensed.table-hover
      %thead
        %tr
          %th Name
          %th Place
          %th Date
      = render partial: 'event', collection: events, as: :event
