<div class="panel panel-primary">
  <div class="panel-heading text-center"><strong><%= local_assigns[:name] %></strong></div>
  <div class="panel-body">
    <table id="competitors" class="table table-condensed table-hover">
      <thead>
        <tr>
          <th class="col-sm-1">Place</th>
          <th class="col-sm-1">Name</th>
          <th class="col-sm-1">Points</th>
        </tr>
      </thead>
      <%= render partial: 'event_result', collection: event_results, as: :event_result %>
    </table>
  </div>
</div>