<%= render 'sidebar_content' %>

<div class="col-md-12">
  <% if @events.empty? %>
    <h4 class='bg-info'>There are no events.</h4>
  <% else %>
    <%= render partial: 'events', locals: {events: @events } %>
  <% end %>
</div>