<%= render 'sidebar_content' %>

<div class="row">
  
  <div class="col-sm-4">
    <%= render partial: 'event_results', locals: {event_results: @men, name: 'Men' } %> 
  </div>
  <div class="col-sm-4">
    <%= render partial: 'event_results', locals: {event_results: @women, name: 'Women' } %>
  </div>
  
</div>


