/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require bootstrap.min
 */

 .page-header {
   height: 30px;
   margin-bottom: 0px;
   margin-top: 10px;
   padding: 0;
 }

 .hidden {
  display: none;
 }

 .round_menu
 {
    width:100%;
    text-align: center;
    margin-bottom: 20px;
 }
 .round_button
 {
    display: inline-block;
 }

 .navbar-toggle {
    z-index:3;
 }

 .nav >li >a {
  padding-top: 30px;
  padding-bottom: 30px;
 }
 .navbar-toggle {
  padding: 10px;
  margin: 25px 15px 25px 0;
 }

 .navbar-btn {
  padding-top: 20px;
  margin-right: 5px;
 }


