<div id="sidebar" class="sidebar-offcanvas">
  <div class="col-md-12">
    <h4><%= @event.nil? ? "" : (@event.name unless @event.status == "finished") %></h4>
    <ul class="nav nav-pills nav-stacked">
      <%= yield :sidebar %>
    </ul>
  </div>
</div>
